<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        属性名：logImpl
        描述：指定 MyBatis 所用日志的具体实现，未指定时将自动查找。
        有效值：SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING
        默认值：Not set
        参考链接：https://blog.csdn.net/wszcy199503/article/details/78662666
    -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
</configuration>