<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlframe.xhjq.dao.xhfjqData.InteHotelInfo12Dao">

	<!-- 国际酒店入住信息客流量(12月份) -->
	<select id="countCustomer" resultType="java.lang.Integer">
        SELECT SUM(peo_num) AS '客流量' FROM inte_hotel_info12
    </select>

    <!-- 国际TOP9的客流量数据+比例(12月份) -->
    <select id="top9" resultType="java.util.Map">
        SELECT tag AS '国家',peo_num AS '客流量'
        FROM
	      inte_hotel_info12 a
        ORDER BY
	      peo_num DESC LIMIT 9
    </select>

    <!-- 国际总客流量(12月份) -->
    <select id="totalPeoNum" resultType="java.lang.Integer">
        SELECT SUM(peo_num) FROM inte_hotel_info12
    </select>
</mapper>